<% if flash[:notice].present? %>
   <%= flash[:notice] %>
<% end %> </br>
<table>
    <tr>
       <td>nama</td>
       <td>username</td>
       <td>age</td>
       <td>kelas</td>
       <td>address</td>
       <td>city</td>
       <td>nik</td>
    </tr>
    <% @students.each do |student| %>
        <tr>
        <td><%= student.nama %></td>
        <td><%= student.username %></td>
        <td><%= student.age %></td>
        <td><%= student.kelas %></td>
        <td><%= student.address %></td>
        <td><%= student.city %></td>
        <td><%= student.nik %></td>
        <td><%= link_to 'detail' , student_path(student) %> | <td><%= link_to 'Edit' , edit_student_path(student) %> | <td><%= link_to 'Delete' , student_path(student), method: :delete, data:{confirm: 'Are you sure?'} %> </td>
        </tr>
    <% end %>
</table>

<%= link_to 'New student' , new_student_path %>

# <h1>Student#index</h1>
# <p>Find me in app/views/student/index.html.erb</p>
