<% if flash[:notice].present? %>
   <%= flash[:notice] %>
<% end %> </br>
Nama : <%= @student.nama %> </br>
Username  : <%= @student.username  %> </br>
Age : <%= @student.age  %> </br>
Kelas : <%= @student.kelas  %> </br>
Address : <%= @student.address  %> </br>
City : <%= @student.city  %> </br>
Nik : <%= @student.nik  %> </br>